<!-- Sidebar starts -->
{% load static %}
<div class="sidebar">
    <a href="" class="logo">
        <img src="{% static 'assets/img/limonad.svg' %}" alt="" class="logo-icon">
        <div class="logo-text">
            <h5 class="fs22 mb-0">Lemanad <sup class="badge badge-danger">PRO</sup></h5>
            <p class="text-uppercase fs11"></p>
        </div>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="javascript:void(0)"><i
                    class="material-icons icon">games</i><span>Линолеум</span> <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column" style="display: none;">
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Таблица с заказами</span></a>
                </div>
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Статистика</span></a>
                </div>
            </div>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home:index' %}"><i
                    class="material-icons icon">turned_in_not</i><span>Частички</span></a>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="javascript:void(0)"><i class="material-icons icon">storage</i><span>Сетка доставки</span>
                <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column" style="display: none;">
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Размещение</span></a>
                </div>
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Заполняемость</span></a></div>
            </div>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="javascript:void(0)"><i class="material-icons icon">storage</i><span>Погрузка</span>
                <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column" style="display: none;">
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Время погрузки</span></a>
                </div>
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Чек-листы</span></a></div>
                <div class="nav-item"><a class="nav-link"
                                         href="{% url 'home:index' %}"><span>Статистика по сборке</span></a></div>
            </div>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="javascript:void(0)"><i class="material-icons icon">library_books</i><span>Довозы</span>
                <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column" style="display: none;">
                <div class="nav-item"><a class="nav-link" href="{% url 'home:index' %}"><span>Записать довоз</span></a>
                </div>
                <div class="nav-item"><a class="nav-link"
                                         href="{% url 'home:index' %}"><span>Статистика по довозам</span></a></div>
            </div>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home:index' %}"><i
                    class="material-icons icon">filter_none</i><span>Полезные ссылки</span></a>
        </li>
    </ul>
</div>
<!-- Sidebar ends -->