<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Lemanad Proс</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content=""
          name="description"/>
    <link rel="shortcut icon" href="{% static 'assets/img/lemonade_png (2).png' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="{% static 'assets/vendor/material-icons/material-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/flags/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/daterangepicker-master/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-darkblue-dark.css' %}" rel="stylesheet" id="stylelink">
</head>

<body class="h-100 no-sidemenu">
    <div class="wrapper">
        <div class="content shadow-sm position-relative">
            <div class="background opac">
                <img src="{% static 'assets/img/404.jpg' %}" alt="">
            </div>

            <!-- Main container starts -->
            <div class="container main-container" id="main-container">
                <div class="row login-row-height">
                    <div class="col-8 col-md-6 col-lg-5 col-xl-4 mx-auto align-self-center text-center">
                        <a href="{% url 'home:index' %}" class="btn btn-outline-light">Назад на главную</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'assets/vendor/daterangepicker-master/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor/daterangepicker-master/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/style-picker.js' %}"></script>
</body>
</html>